<html lang="en">
<%- include("header.ejs") %>

<body>
  <%- include("nav.ejs") %>

  <div class="details content">
    <h1>Profile:</h1>
    <h2><%= user.name%></h2>
    <div class="content">
      <p><span>Email:</span><%= user.email %></p>
      <p><span>Password:</span><%= user.password %></p>
      <!-- <p><span>Address:</span><%= user.address %></p> -->
      <!-- <p><span>Number:</span><%= user.number %></p> -->
    </div>
  </div>


 <div class="operation-btn">
   <br>
   <form action="/users/<%= user.id %>" method="post">
    <button type="submit" >Remove</button>
  </form>
   <form action="/edit/<%= user.id %>/<%= action %>" method="edit">
    <button type="submit">Update</button>
  </form>
 </div>

  <%- include("footer.ejs") %>
</body>
</html>